/*
Colors from Sublime Text 2 default theme 'Pastels on Dark'
https://github.com/n00ge/Sublime-Text-2-Packages/blob/master/Color%20Scheme%20-%20Default/Pastels%20on%20Dark.tmTheme
*/

body {
  background-color: #211E1E;
  color: #DADADA;
}